[submodule "libs/openscad-utilities"]
	path = libs/openscad-utilities
	url = git@github.com:snhobbs/openscad-utilities.git
[submodule "libs/openscad-testjig-components"]
	path = libs/openscad-testjig-components
	url = git@github.com:snhobbs/openscad-testjig-components.git
